/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*****General styles*****/
   @font-face {
     font-family: 'Quickbrush';
     src: url('webfonts/3898CA_0_0.eot');
     src: url('webfonts/3898CA_0_0.eot?#iefix')
     format('embedded-opentype')
     url('webfonts/3898CA_0_0.woff2')
     format('woff2'),url('webfonts/3898CA_0_0.woff')
     format('woff'),url('webfonts/3898CA_0_0.ttf')
     format('truetype');}

   html {
       font-size:16px;
   }

   body {
     font-family: skolar-latin, serif;
     font-weight: 400;
     font-style: normal;
     font-size: 1rem;
     text-align: left;
   }

   img {
   	width: 100%;
   }

   figure {
           margin: 0;
   }


     ul {
         list-style: : none;
     }


     ul li {
          display: inline-block;
     }


     ul span {
         font-size: 1.875rem;
     }

     address {
        font-style: normal;
     }

   .content-wrapper {
       width: 90%;
       margin: 20px 20px;
     }

   /*Mobile Header Styles*/
   header {
     width: 100%;
     min-height: 600px;
     background: url('../img/pink-flower.jpg') center;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-content: flex-start;
     flex-flow: row wrap;
   }

   header h1 {
     font-size: 1.7rem;
     text-align: center;
     margin-top: 0;
   }

   header h2 {
     font-size: 1.2rem;
     line-height: 1.5rem;
     text-align: center;
   }


   header h3 {
     font-family: Quickbrush;
   	 font-weight: 700;
   	 font-style: normal;
     text-align: center;
     padding: 70px 170px 5px 5px;
     font-size: 1.8rem;
     color: #ee4cc3;
   }


   header a {
     font-family: Quickbrush;
     font-weight: 800;
     font-size: 2rem;
     font-style: normal;
     text-decoration: none;
     color: #b7065c;
   }

/* Mobile Styles - Work Area */

.work .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.work h2 {
  font-family: Quickbrush;
  font-size: 2.0625rem;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1;
  padding: 20px;
}

.work h3 {
  margin: 20px 20px;
}

.work p {
  text-align: justify;
  margin: 20px 20px;
}

.work span {
  font-size: 1.6875rem;
}

.work figure {
  max-width: 100%;
  margin: 20px 20px;
  border: 2px solid #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Mobile Styles - About Me Area */

.about {
  background: url('../img/pink-yellow-background.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.about p {
  line-height: 1.5625rem;
  text-align: justify;
  padding: 20px;
  text-align: justify;
}


.about h2 {
    padding-top: 10px;
    text-align: center;
    font-family: Quickbrush;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 15px;
    font-style: normal;
}


.about h3{
  line-height: 1.5625rem;
  padding: 0px 20px;
}

.about figure {
  max-width: 90%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}

/*Mobile Footer Styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff7e7;
  text-align: center;
  }

  footer .content-wrapper {
    width: 70%;
    margin: 20px 20px;
  }

  footer h2 {
    font-family: Quickbrush;
    font-size: 2.0625rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  footer h3 {
    font-size: 1.6rem;
    text-align: center;
  }

  footer p {
    margin: 0;
    text-align: center;
  }

  footer .social p {
    background-color: #b7065c;
    text-decoration: solid;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  footer .social p i {
    font-size: 1.7rem;
  }

  footer a {
    text-decoration: solid;
    color: #b7065c;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }

  footer .social ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
  }

  footer .copyright {
    margin: 20px 0;
    text-align: center;
    color: #b7065c;
    font-weight: bold;
  }


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
      /*Tablet styles here*/

      /* Header */

      header h1 {
        font-size: 1.9rem;
      }

      header h2 {
        font-size: 1.5rem;
        line-height: 2rem;
      }


      header h3 {
        padding: 80px 270px 5px 0px;
        font-size: 2rem;
      }

      header a {
        font-size: 2.3rem;
      }

      /* Tablet work area */

      .work .content-wrapper {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 30px;
      }

      .work article {
        margin-left: 50px;
      }

      .work h2 {
        font-size: 2.1rem;
      }

      .work figure {
        max-width: 70%;

      }

      /* Tablet styles - About me area */

      .about .content-wrapper {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .about h2 {
        font-size: 2.1rem;
      }

      .about h3 {
        text-align: center;
        padding-top: 15px;
      }

      .about figure {
        max-width: 60%;
        margin-left: 100px;
        display: flex;
        justify-content: center;
      }

      /* Tablet footer */

        footer .content-wrapper {
          width: 55%;
        }

        footer h2 {
          font-size: 2rem;
        }

        footer h3 {
          font-size: 1.3rem;
        }

        footer a {
          font-size: 1.8rem;
        }

        footer p a {
          font-size: 1.2rem;
        }

        footer .social ul {
          display: flex;
          justify-content: space-between;
        }

    }

@media only screen and (min-width: 1200px) {
         /*Desktop styles here*/

         /*Header*/

         header h1 {
           font-size: 2.4rem;
           padding-top: 10px;
         }

         header h2 {
           font-size: 1.4rem;
           padding-top: 0;
         }


         header h3 {
           text-align: left;
           text-indent: 250px;
           padding-top: 140px;
           font-size: 2.3rem;
         }


         header a {
           font-size: 2.5rem;
         }


    /* Work area */

    .work .content-wrapper {
      width: 75%;
      margin-left: 100px;
      margin-bottom: 40px;
    }

    .work article {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .work h2 {
      width: 90%;
      margin-bottom: 30px;
      font-size: 2.2rem;
    }

    .work h3 {
      width: 90%;
      margin: 30px 20px;
    }

    .work article figure {
      width: 70%;
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }

    .work article div {
      width: 70%;
      padding-left: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }



    /* About me section */

    .about .content-wrapper {
      width: 80%;
    }

    .about article {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .about h2 {
      width: 90%;
      margin-bottom: 50px;
      font-size: 2.2rem;
    }

    .about article figure {
      max-width: 400px;
      margin: 0;
    }

    .about article div {
      width: 70%;
      margin-left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }

    .about h3 {
      width: 95%;
      margin: 0;
    }

    /*Footer*/

      footer .content-wrapper {
        width: 50%;
      }

      footer h2 {
        font-size: 2.2rem;
        padding-bottom: 20px;
      }

      footer h3 {
        font-size: 1.3rem;
      }

      footer a {
        font-size: 2rem;
      }

      footer p a {
        font-size: 1.1rem;
      }

      footer .social ul {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
      }


  }


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
